KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/gdt_asm.o \
$(ARCHDIR)/interrupt/irq.o \
$(ARCHDIR)/interrupt/irq_asm.o \
$(ARCHDIR)/interrupt/isr.o \
$(ARCHDIR)/interrupt/isr_asm.o \
$(ARCHDIR)/interrupt/idt.o \
$(ARCHDIR)/interrupt/idt_asm.o \
$(ARCHDIR)/interrupt/keyboard/ps2.o \
